.main-content{
  border-color: green;
  border-style: solid;
  height: 100%;
  width: 170% !important;
  background-color:#f5f3f4;
 
}
.example-form-field {
  width: 200px;
  margin: 15px;
}

.table-content{
  width:  98%;
}

.filter-heading{
  color: gray;
  margin: 17px;
  font-family: sans-serif;
}

