.main-content{
  //border-style: solid;
  height: 100%;
  width: 105% !important;
  background-color:#f5f3f4;
  padding-right: 5px;
 
}

.example-form-field {
  width: 200px;
  margin: 15px;
}

.table-content{
  width:  98%;
}

.filter-heading{
  color: gray;
  margin: 17px;
  font-family: sans-serif;
  padding: 5px;
}

.filters{
  width: 100%;
}

