
<div  class="nav-bar" >
  <mat-toolbar class="header-toolbar">
    <mat-icon class="header-icon">label</mat-icon>
    &nbsp;&nbsp;
    <span class="header-title">toplabel</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-nav-list class="mat-list">
    <a mat-list-item href="#">
      <mat-icon class="header-icon">dashboard</mat-icon>
      &nbsp;&nbsp;Dashboard
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="'/articals'">
      <mat-icon class="header-icon">library_add</mat-icon>
      &nbsp;&nbsp;Articals
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="'/people'">
      <mat-icon>label_important</mat-icon>
      &nbsp;&nbsp;Labels
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
<div>


