
<div  class="nav-bar" >
  <mat-toolbar class="header-toolbar">
    <mat-icon class="header-icon">credit_card</mat-icon>
    &nbsp;&nbsp;
    <span class="header-title">Happy Label</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-nav-list class="mat-list">
    <a mat-list-item href="#">
      <mat-icon class="header-icon">dashboard</mat-icon>
      &nbsp;&nbsp;Dashboard
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#">
      <mat-icon class="header-icon">library_add</mat-icon>
      &nbsp;&nbsp;Articals
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#">
      <mat-icon>crop_portrait</mat-icon>
      &nbsp;&nbsp;Labels
    </a>
  </mat-nav-list>
<div>


