.mainDiv{
  background-image: url("/happy-label/src/assets/linkImage.png") no-repeat center center fixed;;
  background-size: cover;
  // border-color: red;
  // border-style: solid;
}

.credentials{
  width: 40%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-color: red;
  border-style: solid;
  
}
